# Security (Generated Secure Random)
NEXTAUTH_SECRET=your_nextauth_secret_here
EDUC_HUB_MASTER_TOKEN=your_master_token_here

# Database (Postgres)
POSTGRES_USER=your_postgres_user
POSTGRES_PASSWORD=your_postgres_password
POSTGRES_DB=your_postgres_db
DATABASE_URL=postgresql://your_postgres_user:your_postgres_password@db:5432/your_postgres_db

# Redis
REDIS_URL=redis://redis:6379

# Google Auth (NextAuth)
GOOGLE_CLIENT_ID=your_google_client_id
GOOGLE_CLIENT_SECRET=your_google_client_secret
NEXTAUTH_URL=http://localhost:3000
TRUST_HOST=true

# Super Admins (เข้าถึงได้ทุกบัญชีและจัดการสิทธิ์ได้ทั้งหมด)
SUPER_ADMIN_EMAILS="admin@example.com,admin2@example.com"

